

.nav {
  display: flex;
  align-self:flex-start;
  flex-wrap: wrap;
  width: 15%;
  max-height: 405px;
  margin-top: 30px;
  position: sticky;
  top: 75px;
}
.item {
  width: 80%;
  border-bottom: 1px solid silver;
}
.item > a {
  color: #918e8e;
  text-decoration: none;
  font-weight: 300;
  font-size: 18px;
  line-height: 60px;
  display: block;
  height: 100%;
  width: 100%;
  -moz-transition: all 0.2s ease-in 0s;
  -webkit-transition: all 0.2s ease-in 0s;
  -o-transition: all 0.2s ease-in 0s;
  transition: all 0.2s ease-in 0s;
}
.item > a.active {
  color: rgba(0, 0, 0, 1);
  border-bottom: 1px solid black;
}
.nav > div:hover a {
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}