/*.nav {
  display: flex;
  align-self:flex-start;
  flex-wrap: wrap;
  width: 15%;
  max-height: 405px;
  margin-top: 30px;
  position: sticky;
  top: 75px;
}*/

.item > a {
  color: #e2dede;
  text-decoration: none;
  font-weight: 300;
  font-size: 18px;
  line-height: 60px;
  display: block;
  height: 100%;
  width: 100%;
  -moz-transition: all 0.2s ease-in 0s;
  -webkit-transition: all 0.2s ease-in 0s;
  -o-transition: all 0.2s ease-in 0s;
  transition: all 0.2s ease-in 0s;
}
/*.item > a.active {
  color: rgb(244, 244, 248);
  border-bottom: 1px solid black;
}
.nav > div:hover a {
  color: rgba(213, 210, 221, 0.8);
  cursor: pointer;
}*/