.writeMessage {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid silver;
    width: 100%;
}
.button > button {
    margin-left: 20px;
    outline: none;
    border: 1px solid #fff;
    border-radius: 50px;
    font-size: 14px;
    color: #444;
    height: 35px;
    width: 90px;
    text-decoration: none;
    background-color: #fff;
    box-shadow: 0 4px 6px rgb(65 139 144 / 20%), 0 2px 6px rgb(0 0 0 / 32%);
    cursor: pointer;
    transition: box-shadow 0.2s;
    margin-bottom: 25px;
}
.button > button:hover {
    transition: all 0.2s;
	box-shadow: 0 7px 14px rgb(65 139 144 / 40%), 0 3px 6px rgb(0 0 0 / 32%);
}
.button > button:active {
    box-shadow: 0px 4px 8px #2f5066;
    transform: scale(0.95);
  }
.writeMessage .area {
    display: flex;
    width: 100%;
    margin-bottom: 25px;
    border: none;
    border-radius: 6px;
    box-shadow: 0 8px 12px rgb(65 139 144 / 20%), 0 2px 6px rgb(0 0 0 / 32%);
}
.posts {
    margin-top: 20px;
    justify-content: center;
}