
.bgDescription {
  position: relative;
  display: flex;
  width: 100%;
  height: 500px;
	background-size: cover;
  justify-content: flex-end;
  align-items: center;
}
img.bgImg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.avatarContainer {
  position: absolute;
  top: -20px;
  left: 20px;
  width: 120px;
  height: 120px;
  border-radius: 100px; 
  border: 6px solid white; 
  box-shadow: 0 0 7px #666; 
  overflow: hidden;
 }
 .avatarContainer > img {
  position: absolute;
  width: 100%;
  height: 120px;
  border-radius: 50px;
  object-fit: cover;
 }
 .description {
   flex-direction: column;
   display: flex;
   height: 100%;
   width: 60%;
   background-image: linear-gradient(to left ,rgb(255,255,255), rgba(255,255,255,0));
 }
 .item {
  color: #000;
  text-align: left;
  padding-top: 5px;
  padding-left: 45%;
  min-height: 20px;
}
.itemStatus {
  color: blanchedalmond;
  position: absolute;
  top: 260px;
  left: 20px;
 }
 .userName {
  font-size: 22px;
}
.contact {
  padding-left: 15px;
}
.editButton {
  position: absolute;
  top: 260px;
  right: 60px;
}
.formSummaryError {
  border: 1px solid red;
  padding: 2px;
  color: red;
}
 