.userData {
  width: 30%;
  margin-left: 30%;
}
.contacts {
  width: 30%;
  
}
.bgDescription {
  position: relative;
  display: flex;
  width: 100%;
  height: 300px;
	background-size: cover;
  flex-wrap: nowrap;
}
img.bgImg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.avatarContainer {
  position: absolute;
  top: -20px;
  left: 20px;
  width: 120px;
  height: 120px;
  border-radius: 100px; 
  border: 6px solid white; 
  box-shadow: 0 0 7px #666; 
  overflow: hidden;
 }
 .avatarContainer > img {
  position: absolute;
  width: 100%;
  height: 120px;
  border-radius: 50px;
  object-fit: cover;
 }
 .description {
   display: flex;
   height: 100%;
   width: 100%;
   background-image: linear-gradient(to left ,#1890ff, rgba(109, 74, 235, 0));
 }
.itemStatus {
  position: absolute;
  top: 260px;
  left: 20px;
  background-color: #fff;
  border-radius: 20px;
  padding: 3px;
 }
.userName {
  font-size: 22px;
}
.contact {
  padding-left: 25px;
}
 .editButton  {
  position: absolute;
  top: 15px;
  right: 30px;
} 
.formSummaryError {
  border: 1px solid red;
  padding: 2px;
  color: red;
}
input[type=file] {
  outline: 0;
  user-select: none;
  opacity: 0;
  position: absolute;
  top: 10px;
  left: 0px;
  z-index: 101;
}
.title {  
  outline: 0;
  user-select: none;
  position: absolute;
  top: 10px;
  left: 140px;
  background-color: rgb(255, 255, 255);
  padding: 3px;
  border-radius: 50px;
  z-index: 99;
}
input:hover {
  cursor: pointer;
}


 